# Urban Air Quality Forcaster
## Feature Expansion & Merging

This notebook integrates:
- Air Quality
- Weather
- Traffic data
for saptiothermal modeling

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

load grid AQI data

In [2]:
aq_df = pd.read_csv("C:/Users/Navyashree/Documents/urban-air-quality-forecaster/data/processed/grid_air_quality.csv")
aq_df["hour"] = pd.to_datetime(aq_df["hour"])
aq_df.head()

   grid_lat  grid_lon                hour        pm25        no2          o3
0     12.90     77.63 2026-01-19 10:00:00   96.479902  40.746327   33.020855
1     12.91     77.68 2026-01-18 22:00:00  128.436367  28.942489  101.960714
2     12.92     77.56 2026-01-18 19:00:00  146.515163  28.464076   93.622592
3     12.92     77.63 2026-01-19 15:00:00  105.413565  69.038529   44.565360
4     12.93     77.54 2026-01-19 13:00:00   13.666896  43.048675   52.656615

Simulate Weather data

In [3]:
weather_df = aq_df[["grid_lat","grid_lon","hour"]].copy()

weather_df["temperature"] = np.random.uniform(20, 35, len(weather_df))
weather_df["wind_speed"] = np.random.uniform(0.5, 6.0, len(weather_df))

weather_df.head()

   grid_lat  grid_lon                hour  temperature  wind_speed
0     12.90     77.63 2026-01-19 10:00:00    25.076111    4.408970
1     12.91     77.68 2026-01-18 22:00:00    26.020703    5.357011
2     12.92     77.56 2026-01-18 19:00:00    20.201498    4.466875
3     12.92     77.63 2026-01-19 15:00:00    28.419162    3.280928
4     12.93     77.54 2026-01-19 13:00:00    27.282898    3.684902

Simulate Traffic data

In [5]:
traffic_df = aq_df[["grid_lat", "grid_lon", "hour"]].copy()

traffic_df["traffic_index"] = np.random.uniform(1, 100, len(traffic_df))

traffic_df.head()

# 0 -> no traffic 
# 100 -> heavy congestion

   grid_lat  grid_lon                hour  traffic_index
0     12.90     77.63 2026-01-19 10:00:00      18.196832
1     12.91     77.68 2026-01-18 22:00:00      59.683718
2     12.92     77.56 2026-01-18 19:00:00      81.939128
3     12.92     77.63 2026-01-19 15:00:00       5.840297
4     12.93     77.54 2026-01-19 13:00:00      34.137487

Merge All features

In [ ]:
merged_df = aq_df.merge(
    weather_df,
    on = ["grid_lat", "grid_lon", "hour"],
    how = "left"
).merge(
    traffic_df,
    on = ["grid_lat", "grid_lon", "hour"],
    how = "left"
)

merged_df.head()

# feature table ready

,grid_lat,grid_lon,hour,pm25,no2,o3,temperature,wind_speed,traffic_index
0,12.90,77.63,2026-01-19 10:00:00,96.479902,40.746327,33.020855,25.076111,4.408970,18.196832
1,12.91,77.68,2026-01-18 22:00:00,128.436367,28.942489,101.960714,26.020703,5.357011,59.683718
2,12.92,77.56,2026-01-18 19:00:00,146.515163,28.464076,93.622592,20.201498,4.466875,81.939128
3,12.92,77.63,2026-01-19 15:00:00,105.413565,69.038529,44.565360,28.419162,3.280928,5.840297
4,12.93,77.54,2026-01-19 13:00:00,13.666896,43.048675,52.656615,27.282898,3.684902,34.137487

In [ ]:
# saving the model-ready data

merged_df.to_csv("C:/Users/Navyashree/Documents/urban-air-quality-forecaster/data/processed/model_features.csv", index = False)
print("Model-ready features saved")